<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ReminderManagementSystem</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Cancel</display-name>
    <servlet-name>Cancel</servlet-name>
    <servlet-class>com.nidhi.Cancel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Cancel</servlet-name>
    <url-pattern>/Cancel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.nidhi.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SetReminder</display-name>
    <servlet-name>SetReminder</servlet-name>
    <servlet-class>com.nidhi.SetReminder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetReminder</servlet-name>
    <url-pattern>/SetReminder</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifyReminder</display-name>
    <servlet-name>ModifyReminder</servlet-name>
    <servlet-class>com.nidhi.ModifyReminder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyReminder</servlet-name>
    <url-pattern>/ModifyReminder</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisableReminder</display-name>
    <servlet-name>DisableReminder</servlet-name>
    <servlet-class>com.nidhi.DisableReminder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisableReminder</servlet-name>
    <url-pattern>/DisableReminder</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EnableReminder</display-name>
    <servlet-name>EnableReminder</servlet-name>
    <servlet-class>com.nidhi.EnableReminder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EnableReminder</servlet-name>
    <url-pattern>/EnableReminder</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteReminder</display-name>
    <servlet-name>DeleteReminder</servlet-name>
    <servlet-class>com.nidhi.DeleteReminder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteReminder</servlet-name>
    <url-pattern>/DeleteReminder</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewReminders</display-name>
    <servlet-name>ViewReminders</servlet-name>
    <servlet-class>com.nidhi.ViewReminders</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewReminders</servlet-name>
    <url-pattern>/ViewReminders</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewReminder</display-name>
    <servlet-name>ViewReminder</servlet-name>
    <servlet-class>com.nidhi.ViewReminder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewReminder</servlet-name>
    <url-pattern>/ViewReminder</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>search</display-name>
    <servlet-name>search</servlet-name>
    <servlet-class>com.nidhi.search</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>search</servlet-name>
    <url-pattern>/search</url-pattern>
  </servlet-mapping>
</web-app>